@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --todo: navy;
  --error: rgb(205, 34, 34);
  --done: rgb(25, 204, 138);
  --ongoing: sandybrown;
}
